body {
    margin: 0;
}

/* 전체 */

div {
    float: left;
    height: 200px;
}

/* 개별 */
div {
width: 50%;
}

div:first-child, div:last-child {
    width:100%;
}

div:nth-child(2), div:nth-child(4) {
    width:25%;
}


#red {
    background: #FF0000;
}

#orange {
    background: #FFA500;
}

#yellow {
    background: #FFFF00;
}

#green {
    background: #008000;
}

#blue {
    background: #0000FF;
}

#indigo {
    background: #4B0082;
}

#purple {
    background: #800080;
}