* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
div {background-size: cover; background-repeat: no-repeat;}

#div1 {width:100%; height: 60px; background-color:#353535; color: white; padding-left:40px; line-height: 60px;}
#div2 {background-image: url("../images/ino/main_img.jpg");width:100%; height: 350px;}
#div3 {width:100%; height: 320px; padding-left: 30px; padding-right: 30px; display: flex; align-items: center;}
#first {font-size: 16px; color: #4a4a4a; margin-bottom: 10px;}
#second {font-size:20px; color: #1b1b1b; margin-bottom: 30px;}
#third {font-size: 16px; color: #7a7a7a; margin: 0;}
#div4 {width:100%; height: 385px; background-image: url("../images/ino/img1.jpg");}
#div5 {width:100%; height: 200px; background-image: url("../images/ino/img2.jpg"); display: flex; align-items: center; text-align: center;}
#fourth {display:block; margin: auto;}
#fourth a {color:white; font-weight: bold; font-size:16px; text-decoration: none; border: 5px solid #FFFFFF; display:block; padding: 9px 40px; margin: auto auto;}
#div6 {width:100%; height: 200px; background-image: url("../images/ino/img3.jpg");}

@media (min-width: 768px) {
    #div2 {float:left; height: 562px;}
    #div3 {height: 282px; padding: 0 65px;}
    #div4 {float:left; width:50%; height: 360px;}
    #div5 {float:left; width:50%; height: 180px;}
    #div6 {float:left; width:50%; height: 180px;}
}

@media (min-width: 992px) {
    #div2 {float:left; height: 700px; width:50%;}
    #div3 {height: 350px; width:50%; padding: 0 65px;}
    #div4 {float:left; width:25%; height: 350px;}
    #div5 {float:left; width:25%; height: 175px;}
    #div6 {float:left; width:25%; height: 175px;}
}