#serif {font-family: 'Times New Roman', serif;
}
#sans-serif {font-family: 'Arial', sans-serif;
}
#monospace {font-family: 'Courier', monospace;
}
#cursive {font-family: 'Brock', cursive;
}
#fantasy {font-family: 'Trattatello', fantasy;
}
#google {font-family: 'Libre Barcode 128 Text', cursive;
}