.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.first {
    position: relative;
    font-size : 300%;
    margin-right: 15px;
    top: 20px;
}

.last {
    position: relative;
    font-size : 300%;
    margin-left: 15px;
    top: 80px;
}

.figure {
  margin-top: 50px;
}